<%= render 'shared/navbar' %>

<section class="pb-20 bg-purple-200 -mt-24">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap">
        <div class="w-full md:w-4/12 lg:w-3/12 px-4">
          <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg sticky top-5">
            <div class="px-4 py-5 flex-auto">
              
              <h6 class="text-xl font-semibold"><%= @fag.navn.capitalize %></h6>
              <p class="mt-2 mb-4 text-gray-600">
                <ul class="list-none list-inside pr-4"
                    <li><a href="#" class="text-black-600 hover:text-gray-900 pl-4">Kompetansemål</a></li>
                    <li><a href="#" class="text-black-600 hover:text-gray-900 pl-4">Oppgaver</a></li>
                    <li><a href="#" class="text-black-600 hover:text-gray-900 pl-4">Tema</a></li>
                    <li><a href="#" class="text-black-600 hover:text-gray-900 pl-4">Yrker</a></li>
                    <li><a href="#" class="text-black-600 hover:text-gray-900 pl-4">Særtrekk</a></li>
                    <li><a href="#" class="text-black-600 hover:text-gray-900 pl-4">Fagutrykk</a></li>
                    <li><a href="#" class="text-black-600 hover:text-gray-900 pl-4">Materialer</a></li>
                    <li><a href="#" class="text-black-600 hover:text-gray-900 pl-4">Teknikker</a></li>
                    <li><a href="#" class="text-black-600 hover:text-gray-900 pl-4">Verktøy</a></li>
                </ul>
              </p>
            </div>
          </div>
        </div>
        <div class="w-full md:w-8/12 lg:w-9/12 px-4 pt-4">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
            <div class="px-4 py-5 flex-auto">
              <span class="font-semibold">Kompetansemål</span>
              <p class="mt-2 mb-4 text-gray-600">
              </p>
            </div>
            <div class="px-4 py-5 flex-auto">
              <span class="font-semibold">Kompetansemål</span>
              <p class="mt-2 mb-4 text-gray-600">
              </p>
            </div>
            <div class="px-4 py-5 flex-auto">
              <span class="font-semibold">Kompetansemål</span>
              <p class="mt-2 mb-4 text-gray-600">
              </p>
            </div>
            <div class="px-4 py-5 flex-auto">
              <span class="font-semibold">Kompetansemål</span>
              <p class="mt-2 mb-4 text-gray-600">
              </p>
            </div>
            <div class="px-4 py-5 flex-auto">
              <span class="font-semibold">Kompetansemål</span>
              <p class="mt-2 mb-4 text-gray-600">
              </p>
            </div>
            <div class="px-4 py-5 flex-auto">
              <span class="font-semibold">Kompetansemål</span>
              <p class="mt-2 mb-4 text-gray-600">
              </p>
            </div>
            <div class="px-4 py-5 flex-auto">
              <span class="font-semibold">Kompetansemål</span>
              <p class="mt-2 mb-4 text-gray-600">
              </p>
            </div>
            <div class="px-4 py-5 flex-auto">
              <span class="font-semibold">Kompetansemål</span>
              <p class="mt-2 mb-4 text-gray-600">
              </p>
            </div>
            <div class="px-4 py-5 flex-auto">
              <span class="font-semibold">Kompetansemål</span>
              <p class="mt-2 mb-4 text-gray-600">
              </p>
            </div>
            <div class="px-4 py-5 flex-auto">
              <span class="font-semibold">Kompetansemål</span>
              <p class="mt-2 mb-4 text-gray-600">
              </p>
            </div>
            <div class="px-4 py-5 flex-auto">
              <span class="font-semibold">Kompetansemål</span>
              <p class="mt-2 mb-4 text-gray-600">
              </p>
            </div>
            <div class="px-4 py-5 flex-auto">
              <span class="font-semibold">Kompetansemål</span>
              <p class="mt-2 mb-4 text-gray-600">
              </p>
            </div>
            <div class="px-4 py-5 flex-auto">
              <span class="font-semibold">Kompetansemål</span>
              <p class="mt-2 mb-4 text-gray-600">
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>